* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(97, 186, 215) 0%,
    rgb(103, 158, 176) 35%,
    rgb(23, 92, 172) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 350px;
  height: 370px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.calendar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

.calendar header button {
  background: rgb(35, 62, 180);
  border: none;
  padding: 13px 13px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}

.calendar header h2 {
  font-size: 20px;
}

.day-names,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day-names div{
  padding: 10px 0;
  font-weight: bold;
  color: rgb(53, 58, 58);
}